<div class="col-sm-6 col-md-4 products-grid">
	<!-- product image -->
	<div class="row products-img">
	 <% if product.image_url== nil || product.image_url==""%>
 			<%= image_tag("Empty-img.png", class: "img-responsive") %>
 		<% else %>
	 		<%= image_tag(product.image_url, class: "img-responsive img-rounded") %>
 		<% end %>
	</div>

	<!-- product name & description -->
  <div class="row">
		<h3><%= product.name %></h3>
		<textarea rows="4"><%= product.description %></textarea>

	  <!-- 	product color -->
	  <div>
		  <% if product.colours== nil || product.colours==""%>
	 			<p>black</p>
	 		<% else %>
		 		<p><%= product.colours %></p>
	 		<% end %>

		  <strong>$<%= product.price %></strong><br>
		
		  	<br><p><%= link_to 'Show', product , class:"btn btn-default btn-xs" %>
		    <%= link_to 'Edit', edit_product_path(product) , class:"btn btn-default btn-xs" %>
		    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-default btn-xs" %>
		  	</p>
	  </div>
	  
  </div>
 </div><!-- /col -->




